# Archivo de variables de entorno (contiene contraseñas)
.env

# Carpeta de dependencias de Composer (no es necesario subirla)
/vendor/

# Archivos de configuración de PHPStorm (opcional, pero recomendado)
.idea/